# This workflow runs the Flake8 linter on git push

name: Flake8

on: [ push ]

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Poetry
      uses: Gr1N/setup-poetry@v8

    - name: Install library and dependencies
      run: |
        poetry run pip install --upgrade pip setuptools
        poetry install

    - name: Lint with flake8
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        poetry run pflake8 --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings
        poetry run pflake8 --count --exit-zero --statistics
