# This workflow runs the Pylint linter on git push

name: Pylint

on: [ push ]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Poetry
      uses: Gr1N/setup-poetry@v8

    - name: Install library and dependencies
      run: |
        poetry run pip install --upgrade pip setuptools
        poetry install

    - name: Analyse the code with pylint
      run: |
        poetry run pylint project_name --fail-under 9

    - name: Analyse the automated tests with pylint
      run: |
        poetry run pylint tests --fail-under 9
